custom/plugins/SwagCommercial/src/B2B/EmployeeManagement/Resources/Schema/Xml/employee-route-access-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="routes">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="denied" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="allowed" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
